* {
  font-family: Oxygen, Helvetica, Arial, sans-serif;
  color: #444;
  border-color: #d4d4d4;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  color: #333;
}
a {
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
  color: #2a72b4;
}
a:hover {
  color: #222;
  text-decoration: underline #bbb dashed;
}
ul {
  padding-left: 1.5rem;
}
fieldset {
  border: none;
  padding: 0;
}
.circle {
  height: 30px;
  width: 30px;
  background: rgb(58, 183, 135);
  border-radius: 50%;
  position: absolute;
  top: -4px;
  left: 0;
  text-align: center;
}
.circle span {
  font-size: 0.6rem;
  font-weight: bold;
  color: white;
  display: inline-block;
  margin-top: 8px;
}
.circle .hover-arrow {
  font-size: 1.2rem;
  color: white;
  display: inline-block;
  margin-top: 2px;
  position: relative;
}
.circle-line {
  z-index: -1;
  width: 2px;
  height: 100%;
  background: rgb(58, 183, 135);
  position: absolute;
  left: 14px;
  top: 0;
}
.hover-parent {
  cursor: pointer;
}
.hover-parent h4 {
  color: #2a72b4;
}
.hover-parent:hover h4 {
  color: black;
}
.hover-parent:hover .hover-hide {
  display: none;
}
.hover-parent .hover-inline-block {
  display: none;
}
.hover-parent:hover .hover-inline-block {
  display: inline-block;
}
.btn:disabled {
  color: #666;
}
.btn:disabled:hover {
  cursor: default;
  background: #ddd;
}
.btn {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 0.5em 1em;
  font-weight: bold;
  background: white;
  cursor: pointer;
  user-select: none;
  color: #444;
}
.btn:hover {
  background: #e6e6e6;
  border-color: #8c8c8c;
}
.semi-muted {
  opacity: 0.85;
}
.muted {
  opacity: 0.75;
}
.faded {
  opacity: 0.35;
}
.input {
  border: none;
  background: #f8f8f8;
  border-bottom: 2px solid #aaa;
}
.error {
  border-left: 4px solid #ff7a7a;
  padding-left: 1rem;
}
.text-width-30rem {
  width: 30rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-ellipsis-100p {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  white-space: nowrap;
}
.mw-36rem {
  max-width: 36rem;
}
.mw-18rem {
  max-width: 18rem;
}
.mw-12rem {
  max-width: 12rem;
}
.h3-5 { /* h3.5 :p */
  font-size: 1.1rem;
}
.mb0-5 { /* mb0.5 :p */
  margin-bottom: 0.25rem;
}
.breadcrumb a {
  font-weight: 400;
}
.breadcrumb:after {
  content: '›';
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-weight: bold;
}
.breadcrumb:last-child:after {
  content: '';
}
.breadcrumb:last-child a {
  font-weight: bold;
}
.small {
  font-size: 0.9rem;
}

.color-devil {
  color: #666;
}
.light-border {
  color: #e1e1e1;
}

/** Tables **/
.table-lined {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.table-lined th,
.table-lined td {
  padding: 0.35rem 0;
  padding-right: 1rem;
}
.table-lined td {
  max-width: 13rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 0;
}
.table-lined tbody tr:hover {
  background-color: #eee;
}
.table-lined tbody tr.expandable {
  cursor: pointer;
}
.table-lined tbody tr.expandable:hover td {
  color: #2a72b4;
}
.table-lined tbody tr.expandable-sibling {
  display: none;
}
.table-lined tbody tr.expanded-sibling {
  background: #eee;
  display: table-row;
}
.table-lined tbody tr.expanded {
  background-color: #dedede;
  border-top: 1px solid #aaa;
}
.table-lined tbody tr.expanded td {
  font-weight: bold;
}
.sticky {
  position: sticky;
}
.table-lined th {
  text-align: left;
  top: 0px;
  background: white;
}
.table-lined.table-lined-gray th {
  background: #eee;
}
.table-lined th,
.table-lined th * {
  color: #666;
}
.table-lined th:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #bbb;
}
.expand-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: white;
  text-align: center;
  margin-left: 0.25rem;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
}
.table-lined th.sortable {
  cursor: pointer;
  font-size: 1.1rem;
  user-select: none;
}
.table-lined th.sortable.sorting,
.table-lined th.sortable.sorting * {
  color: black;
}
/** /Tables **/

/** Arrows **/
.arrow {
  border: solid #666;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 4px;
}
.arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/** Forms **/
.checkbox {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.checkbox, .checkbox label {
  position: relative;
  user-select: none;
  cursor: pointer;
}
.checkbox label:hover {
  color: #999;
}
.dropdown-content {
  border: 1px solid #ccc;
  position: absolute;
  background: white;
  z-index: 1;
  left: 0;
  top: 2.35rem;
  font-weight: normal;
  font-size: 1rem;
  box-shadow: 2px 5px 4px 0px #0003;
}
