* {
  font-family: 'Open Sans', sans-serif;
}
/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #333;
  margin: 1rem 0 0.5rem 0;
}
/* Links */
a, .link {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color: #2a72b4;
  transition: opacity 0.25s;
}
a:hover, .link:hover {
  opacity: 0.5;
}
/* Lists */
ul {
  padding-left: 1.5rem;
}
/* Tables */
table {
  border-spacing: 0;
  width: 100%;
  min-width: 100%;
}
th {
  text-align: left;
  border-bottom: 1px solid #c8c8c8;
  padding: 0.5rem 0;
  color: #666;
}
td {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table td:not(:last-child) {
  padding-right: 1rem;
}
